@import "tailwindcss";

* {
    box-sizing: border-box;
}

@theme inline {
    --font-head: "Space Grotesk", ui-sans-serif, system-ui, sans-serif;
    --font-body: "Source Sans 3", ui-sans-serif, system-ui, sans-serif;
}

@utility font-head {
  font-family: var(--font-head);
}

@utility font-body {
  font-family: var(--font-body);
}
